@font-face {
    font-family: cairo;
    src: url(../fonts/Cairo-VariableFont_slnt\,wght.ttf);

}
body{
    font-family: cairo;
    background-color:#fcf7f1 ;
    

}
.navbar-nav {
    padding-left: 220px;
    
}

.container-fluid{
    background-color:#ebddd2 ;
    
}
.bg-beige{
    background-color:#fcf7f1 ;
}
.navbar-brand{
    padding-left: 300px;
}
.head-img{
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.search input:focus-visible{
    outline: none;
}
.search input::placeholder{
font-size: 14px;
font-weight: 500;
}
header{
    background-color:#fcf7f1;
    
}
/*satrt best sellers section style  */

.best-sellers-heading{
    text-align: center;
    color :#5c4a3e;
}
section.best-sellers{
    background-color: #e3dad5;
  
}
section.best-sellers .nav-link{
    border: 2px solid  #5c4a3e;
    color :#5c4a3e;
 }
section.best-sellers .nav-link:hover{
   border: 1px solid  #cfc8b6;
}
section.best-sellers .nav-link.active{
   background-color: #5c4a3e;
   color: #cfc8b6;
   border: 2px solid  #cfc8b6;
 }
 .row{
    text-align: center;
 }

.best-sel{
    width: 250px;
    height: 250px;
    border-radius: 20px;
  margin-top: 20px;
 margin-right: 50px;
  
 }

/* end index page style*/

/*start product page style*/
.product-image{
	width: 200px;
	height: 200px;
    border-radius: 8px;
    
    
}
.cart-color{
    background-color: #ebddd2;
}

