@font-face {
    font-family: cairo;
    src: url(../fonts/Cairo-VariableFont_slnt\,wght.ttf);

}
body{
    font-family: cairo;
 
    font-size: 70%;
    

}
a{
    text-decoration: none;
}
.navbar-nav {
    padding-left: 220px;
    
}
.head-img-1{
   margin: auto;
   margin: auto;
}
 .welcoming{
    color:#5c4a3e; font-weight:400; 
    font-family: "Cairo", sans-serif;
   font-size: 30px; 
    padding-left:34%; }

.nav-link{
    color: #5c4a3e;
     font-weight: 500;
     font-family: "cairo",sans-serif;
}
.container-fluid{
    background-color:#ebddd2 ;
}
.bg-beige{
    background-color:#fcf7f1 ;
}
.navbar-brand{
    padding-left: 400px;
}
.head-img{
    display: block;
  margin-left: auto;
  margin-right: auto;
}

header{
    background-color:#fcf7f1;
 
    
}
.carousel-item{
    height: 70vh;
    
    
}
a ,h3,p,h4,h2,h5,button{
    font-family: "cairo",sans-serif;   
}
.register{
    font-family: "cairo",sans-serif;
    margin-left: 70px;
    background-color: #cdb19e;
	border-radius: 30px;
	text-decoration: none;
	padding: 5px 10px;
	color: white;
	display: inline-block;
    padding-left: 50px;
    padding-right:50px ;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.register:hover{
    background-color:#ddb295;
    transition: 0.5s;
}

.login{
    background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
    animation:animationForm 0.25s;
    transition: 0.25 ease-in-out;
}
@keyframes  animationForm{
from{
    transform: scale(0);
}
to{
    transform: scale(1);
}
}
.login-contents{
    height: 650px;
	width: 500px;
	background-color:white;
	text-align: center;
	padding: 60px;
	position: relative;
	border-radius: 4px;
}
.form-input{
    margin-top: 3px;
  
}

input {
	margin: 5px auto;
	display: block;
	width: 50%;
	padding: 8px;
	border: 2px solid gray;
    display: inline-block;
    border-radius: 10px;
    
}
.Submit-button{
    margin: 5px auto;
	display: block;
	width: 50%;
	padding: 8px;
	border: 2px solid gray;
    display: inline-block;
    border-radius: 20px;
    background-color: #eee7dd;
}
.Submit-button:hover{
    background-color:#ddb295;
      transition: 0.5s;
}
.signup-button{
    margin: 5px auto;
	display: block;
	width: 50%;
	padding: 8px;
	border: 2px solid gray;
    display: inline-block;
    border-radius: 20px;
    background-color: #eee7dd;
}
.signup-button:hover{
    background-color:#ddb295;
      transition: 0.5s;
}
.signup{
    background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
}
.signup-contents{
    height: 650px;
	width: 500px;
	background-color:white;
	text-align: center;
	padding: 60px;
	position: relative;
	border-radius: 4px;
}
input {
	margin: 15px auto;
	display: block;
	width: 50%;
	padding: 8px;
	border: 2px solid gray;
    display: inline-block;
    border-radius: 10px;
    
}
.close-login {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
	
}
.newSignup-button{
    margin: 15px auto;
	display: block;
	width: 50%;
	padding: 8px;
	border: 2px solid gray;
    display: inline-block;
    border-radius: 20px;
    background-color: #eee7dd;
    margin-top: 2px;
}
.newSignup-button:hover{
    background-color:#ddb295;
      transition: 0.5s;
}
.returnToLogin{
    margin: 15px auto;
	display: block;
	width: 50%;
	padding: 8px;
	border: 2px solid gray;
    display: inline-block;
    border-radius: 20px;
    background-color: #eee7dd;
    cursor: pointer;
}
.returnToLogin:hover{
    background-color:#ddb295;
      transition: 0.5s;
}
.close-signup {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
	
}
/*end login section*/

/*cart icon section*/
.fa-shopping-basket{
  cursor: pointer;
}
.cart-page{
background-color: rgba(0, 0, 0, 0.8);
width: 100%;
height: 100%;
position: fixed;
top: 0;
display: none;
justify-content:left;
align-items: center;
  animation: moveToRight 1s ease-in-out;
  animation-delay: 10ms;
}
@keyframes moveToRight {
  0% {
      transform: translateX(0px);
  }
  100% {
      transform: translateX(10px);
  }
}
  .cart-contents{
    height: 650px;
    width: 600px;
    background-color:white;
    text-align: center;
    padding: 60px;
    position: relative;
    border-radius: 4px;
  }
  .close-cart {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 42px;
    color: #333;
    transform: rotate(45deg);
    cursor: pointer;
    
  }
  .badge {
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 10px;
  }
  
  .label-warning[href],
  .badge-warning[href] {
    background-color: #c67605;
  }
  #lblCartCount {
      font-size: 13px;
      background: #fff;
      color: black;
      padding: 0 5px;
      vertical-align: top;
      margin-left:-15px; 
      margin-top: -20px;
  }
/*end cart icon section*/

/*start best sellers section style  */


.best-sellers-heading{
    font-family: "Cairo", sans-serif;
   color: rgb(97, 76, 64);
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  
  }
  .best-sellers-heading::after{
    content: "";
    background-color: #bd946d;
    display: block;
    height: 3px;
  width: 170px;
  margin: 20px auto 5px;
 margin-bottom: 15px;
  }


section.best-sellers .nav-link{
    border: 2px solid  #ddb295;
    
    font-family: "Cairo", sans-serif;
    color: rgb(97, 76, 64);
  
 }
section.best-sellers .nav-link:hover{
   border: 1px solid  #ddb295;
   
}
section.best-sellers .nav-link.active{
   background-color: #cdb19e;
   color: #cfc8b6;
   border: 2px solid  #cfc8b6;
 }
 .row{
    text-align: center;
 }

.best-sel{
    width: 260px;
    height: 260px;
    border-radius: 20px;
  margin-top: 20px;
 margin-right: 10px;
  
 }
 
 .best a img:hover {
    opacity: 0.3;
    transition-duration: 0.5s;
  }
  .nav-link:hover,.nav-link.active{
    background-color:#cdb19e;
      transition: 0.5s;
      border-radius: 10px;
  }

/*end best sellers section style  */
/* Start Arraivals */
.arrivals {
    background-color: #fcf7f1;
  }
  .arrivals .container{
  background-color: #fcf7f1;
  margin-bottom: 0px;
  
  }
  .arrivals-product{
width: 260px;
height: 260px;

  }
  .arrivals .btn{
  margin-left: 45%;
  margin-top: 5%;
  font-family: "Cairo", sans-serif;
  font-size: 25px;  
  padding: 15px 15px;
  border: 1px solid #bb9b70e7;
  color: #3d301ee7;
  background-color: #fcf7f1;
    
  }
  .arrivals .btn:hover{
    background-color: #d3a467e7;
    color: #473823b0;
    
  }
  .arrivals .arrivals-title{
    font-family: "Cairo", sans-serif;
   color: rgb(97, 76, 64);
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  }
  .arrivals .arrivals-title::after{
    content: "";
    background-color: #bd946d;
    display: block;
    height: 3px;
  width: 170px;
  margin: 20px auto 5px;
  }
  .owl-carousel .owl{
    border: 1px solid #ccbba4e7;
    border-radius: 20px;
  }
  .arrivals-img{
    width: 100%;
    transition: transform 0.5s;
    border-radius: 20px;
  }
  .arrivals .arrivals-product .img-over {
    border-radius: 12px;
    overflow: hidden;
    position: relative;
  }
  .arrivals .arrivals-product .img-over i {
    font-size: 20px;
    color: rgb(97, 76, 64);
    position: absolute;
    top: 5%;
    right: 5%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
  }
  
  .arrivals .arrivals-product .img-over:hover i {
    opacity: 1;
    visibility: visible;
  }
  .arrivals .arrivals-product:hover img {
    transform: scale(1.1);
  }
  .product-info{
    font-family: "Cairo", sans-serif;
    color: rgba(26, 13, 5, 0.925);
  padding:10px 12px;
  }
  .product-info a {
    font-size: 20px;
    color: #1d1306e7;
    font-weight: 400;
  }
  
  
  .product-info a:hover{
  color:#af7c39;
  }
  .owl-nav{
    text-align: right;
  
  }
  .owl{
    width: 350px;
    height: 350px;
    display: grid;
    place-content:center;
    margin-top: 10px;
    margin-right: 10px;
   
  }
.all{
   padding-left: 50px;
}
  
  .owl-nav .owl-next{
    position: absolute;
    top: -64px;
    margin-right: 15px;
  
  }
  .owl-nav  .owl-prev{
      position: absolute;
      top: -64px;
      right: 5px;  
  
  }
  .owl-nav span{
    font-size: 25px;
  border: 1px solid #bb9b70e7;
  padding: 0 10px;
  }
  
  
  /*  Start reviews */
  .customer-reviews {
     margin-top: 50px;
  background-image: url(/img/My\ project-1.png);   padding: 20px;
  background-repeat:no-repeat ;
  background-size: cover;
  height: 100vh;
  }
  
  .customer-reviews .reviews-title{
    color: rgb(97, 76, 64);
   text-align: center;
   font-weight: 400;
   font-size: 40px;
  margin: 0
  ;}
  
  .customer-reviews .reviews-title::after{
    content: "";
    background-color: #bd946d;
    display: block;
    height: 3px;
  width: 170px;
  margin: 20px auto 5px;
  }
  
  .customer-reviews .row-reviews{
  margin-top: 10%;
  }
  .col-md-4{
    margin: 40px auto;
  }
  .profile{
    padding:70px 10px 10px ;
    background-color: #e0c39c;
  
  }
  .profile img{
  top: -60px;
  position: absolute;
  left: calc(50% - 60px);
  border: 10px solid #e0c39c;
    }
  
    .rev-img{
      width: 120px;
  height: 120px;
  border-radius: 50%;
  
    }
    
    .blockquote::before{
      content: "";
      font-size: 50px;
      position: relative;
      color: #af7c39;
      line-height: 10px;
      bottom: -15px;
      left: 5px;
      }
  .blockquote::after{
  content: "";
  font-size: 50px;
  position: relative;
  color: #af7c39;
  line-height: 10px;
  bottom: -15px;
  left: 5px;
  }
  
  .profile:hover{
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.5s;
  }
  /* End reviews  */
  
  
  
  
  
/* Start Contact Us */
.contact {
    background-color: #fff;
}
.contact .container {
  min-height: 100vh;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  max-width: 820px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact-form {
  background-color: #d4b8a5;
  position: relative;
}

.circle {
  border-radius: 50%;
  background: linear-gradient(135deg, transparent 20%, #836957b9);
  position: absolute;
}

.circle.one {
  width: 130px;
  height: 130px;
  top: 130px;
  right: -40px;
}

.circle.two {
  width: 80px;
  height: 80px;
  top: 10px;
  right: 30px;
}

.contact-form:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #d4b8a5;
  transform: rotate(45deg);
  top: 50px;
  left: -13px;
}

form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.contact-title {
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.7rem;
}

.input-container {
  position: relative;
  margin: 1rem 0;
  
}

.in {
    
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #664027;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
}

textarea.in {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
  
}


.btn {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  color: #d6a17d;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}

.btn:hover {
  background-color: transparent;
  color: #fff;
}

.input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}
.footer{
    font-family: "Cairo", sans-serif;

}
.input-container span:before,
.input-container span:after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: 5px;
  background-color: #d4b8a5;
  top: 50%;
  transform: translateY(-50%);
}

.input-container span:before {
  left: 50%;
}

.input-container span:after {
  right: 50%;
}

.input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}

.input-container.focus span:before,
.input-container.focus span:after {
  width: 50%;
  opacity: 1;
}

.contact-info {
  padding: 2.3rem 2.2rem;
  position: relative;
}

.contact-info .cont-title {
  color: #d3966e;
}

.text {
  color: #3d2a1e;
  margin: 1.5rem 0 2rem 0;
}

.information {
  display: flex;
  color: #3d2a1e;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 0.95rem;
}

.fa-solid {
  margin-right: 10px;
  margin-bottom: 14px;
}

.social-media {
  padding: 2rem 0 0 0;
}

.social-media p {
  color: #3d2a1e;
}

.social-icons {
  display: flex;
  margin-top: 0.5rem;
}

.social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(45deg, #d4b8a5, #664027);
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: 0.3s;
}

.social-icons a:hover {
  transform: scale(1.05);
}

.contact-info:before {
  content: "";
  position: absolute;
  width: 110px;
  height: 100px;
  border: 22px solid #d4b8a5;
  border-radius: 50%;
  bottom: -77px;
  right: 50px;
  opacity: 0.3;
}

.big-circle {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #d4b8a5, #5e493c);
  bottom: 50%;
  right: 50%;
  transform: translate(-40%, 38%);
}

.big-circle:after {
  content: "";
  position: absolute;
  width: 360px;
  height: 360px;
  background-color: #fff;
  border-radius: 50%;
  top: calc(50% - 180px);
  left: calc(50% - 180px);
}

.square {
  position: absolute;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(181%, 11%);
  opacity: 0.2;
}

@media (max-width: 850px) {
  .form {
    grid-template-columns: 1fr;
  }

  .contact-info:before {
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
  }

  .contact-form:before {
    top: -13px;
    left: initial;
    right: 70px;
  }

  .square {
    transform: translate(140%, 43%);
    height: 350px;
  }

  .big-circle {
    bottom: 75%;
    transform: scale(0.9) translate(-40%, 30%);
    right: 50%;
  }

  .text {
    margin: 1rem 0 1.5rem 0;
  }

  .social-media {
    padding: 1.5rem 0 0 0;
  }
}
@media (max-width: 480px) {
    .container {
      padding: 1.5rem;
    }
  
    .contact-info:before {
      display: none;
    }
  
    .square,
    .big-circle {
      display: none;
    }
  
    form,
    .contact-info {
      padding: 1.7rem 1.6rem;
    }
  
    .text,
    .information,
    .social-media p {
      font-size: 0.8rem;
    }
  
    .title {
      font-size: 1.15rem;
    }
  
    .social-icons a {
      width: 30px;
      height: 30px;
      line-height: 30px;
    }
  
    .icon {
      width: 23px;
    }
  
    .input {
      padding: 0.45rem 1.2rem;
    }
  
    .btn {
      padding: 0.45rem 1.2rem;
    }
  }
/* End Contact Us */



/*start footer style*/
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
footer .row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #92725d;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:80px;
	bottom: -10px;
	background-color: #5c4a3e;
	height: 2px;
	box-sizing: border-box;
	width: 100px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #ffffff;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.about-us{
    color: #ffffff;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #5c4a3e;
	background-color: #cfc8b6;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
/*end footer style*/
/* end index page style*/

/*start product page style*/
.product-image{
	width: 200px;
	height: 200px;
    border-radius: 8px;
    
    
}
.cart-color{
    background-color: #ebddd2;
    color: #5c4a3e;
}
.card h5{
    padding-top: 5px;
    font-weight:500;
    color: #5c4a3e;
}
.card p{
    color: #5c4a3e;
}
.button {
    padding-top:1px;
    margin-left: 56px;
    width: 70%;
    border-radius: 8px;
   justify-content: center;
   background-color: #ebddd2;
   color: #5c4a3e;
  
}

.button:hover{
    background-color:#bd9173;
      transition: 0.5s;

}
.product-image {
    transition: transform .2s; 
    
    margin: 0 auto;
  }
  
  .product-image:hover {
    transform: scale(1.5); 
  }
  .blog-sidebar-list{
    cursor: pointer;
  }
/*end product page style*/
/*meadoa querry*/
.nav-icon{
  display: none;
}
@media only screen and (max-width: 400px) {
    section.best-sellers .nav-link{
        padding: 4.5px;
      margin-top: 10px;
    }
   .head-img-1{
padding-left:20px;
 } 
 #login-button{
  font-size: small;
  padding: 5px;
  margin-left: 0px;
  margin-right: 0px;
 
 }.nav-bar{
  padding: 1px;
  font-size:23px;
 }
   .welcoming{
   color:#5c4a3e; 
   font-family: "Cairo", sans-serif;
  font-size: 15px; 
  padding-left: 20%;
}
.head-img-2{
    height: 100%;
}.prod-list{
    display:table-row-group;
  
}
.prod-it{
    display:table-footer-group;
 
}
.prod-media{
    display: block;
    padding-left: 8px;
   
  }
  .footer-col h4::before{
	
	left:130px;

}
footer{
  margin-top: 90%;
}
.all{
  margin-right: 10%;
margin-top: 10px;
}
.arrivals-img {
  padding: 10px;
 
}
.nav-icon{
  display: flex;
}

}
/*upcoming style*/
* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}
.btn-purchase,.btn-purchase2{
  margin-left: 35%;
margin-left: 3%
}
.btn-purchase:hover{
  background-color:#cdb19e;
}
.btn-purchase2:hover{
  background-color:#cdb19e;
}

section.upcomming_work_shop {
    background-color: #ebddd2;

}

section.upcomming_work_shop .nav-link {
    font-size: 14px;
    color: #5f5f5f;
    border: 1px solid #5f5f5f;
}

section.upcomming_work_shop .nav-link:hover {
    border: 1px solid #C8A686;
    background-color: #C8A686;
}

section.upcomming_work_shop .nav-link.active {
    background-color: #C8A686;
    color:#3d2a1e;
}

section h1 {
    text-align: center;
}

.upcomming-item .fa-magnifying-glass-plus {
    background-color: #f6c890;
    color: #ffff;
}

section.upcomming_work_shop .upcomming-item .overlay {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    transform: scaleY(0);
    transition: 0.5s;
    border-radius: 15px;
}

section.upcomming_work_shop .upcomming-item:hover .overlay {
    transform: scaleY(1);
}

section.upcomming_work_shop .upcomming-item:hover .overlay i {
    rotate: (360 deg);
}

section.upcomming_work_shop .upcomming-item .overlay i:hover {
    color: #C8A686;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #C8A686;
}

section.upcomming_work_shop .upcomming-item .info {
    opacity: 0;
    width: 100%;
    bottom: 30px;
    transition: opacity .3s, bottom .2s;
}

section.upcomming_work_shop .upcomming-item:hover .info {
    opacity: 1;
    bottom: 0px;
}

section.upcomming_work_shop .upcomming-item img {
    height: 400px;
    object-fit: cover;
}

.up-heading{
  
        font-family: "Cairo", sans-serif;
       color: rgb(97, 76, 64);
      text-align: center;
      font-weight: 400;
      font-size: 40px;
      
      
      }
      .up-heading::after{
        content: "";
        background-color: #bd946d;
        display: block;
        height: 3px;
      width: 170px;
      margin: 20px auto 5px;
     margin-bottom: 15px;
      }
      /*start cart style*/
      .table .img {
        height: 100px;
      }
      
      .table td {
        line-height: 70px;
      }
      .nav-link{
  font-size: 15px;
}
.login-button{
  font-size: 15px;
}
      /*start cart style*/
      
      body {
        background-color: #f6e8d7!important;
      }
      .cart-quantity {
        width: 20%;
      }
      .cart-quantity-input {
        height: 40px;
        width: 50px;
        border-radius: 5px;
        border: 1px solid #56CCF2;
        background-color: #eee;
        color: #333;
        text-align: center;
        font-size: 1.5em;
      }
      .cart-img {
        width: 75px;
        height: auto;
        border-radius: 10px;
      }
      .btn-danger:hover{
        background-color: #cfc8b6;
      }
      /*end cart style*/
 

      .welcoming:hover
      {-webkit-animation: jello-horizontal 0.9s both;
        animation: jello-horizontal 0.9s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-3-10 15:37:22
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
 @-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

.head-img-1{
  -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-3-10 15:34:45
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-30px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-30px);
  }
}
.profile{
  -webkit-animation:color-change-2x 2s linear infinite alternate both;animation:color-change-2x 2s linear infinite alternate both
}
/* ----------------------------------------------
 * Generated by Animista on 2023-3-10 15:44:33
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @-webkit-keyframes color-change-2x{0%{background:#ebddd2}100%{background:#c8a686}}@keyframes color-change-2x{0%{background:#ebddd2}100%{background:#c8a686}}
  .col-pay{
    padding-left: 150px;
  }

  
  
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 px;
  }
  
  .container-pay {
width:80%;
justify-content: center;
   
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .label-pay {
    text-align:right;  margin-bottom:0px; 
    color:#5c4a3e; 
    font-family: "Cairo", sans-serif;
   font-size: 15px; 
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn-pay {
    background-color: #cdb19e;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
    font-family: "Cairo", sans-serif;
   
  }
  
  .btn-pay:hover {
    background-color: #bd946d;
   color:white;
    border:2px solid white;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
  @media (max-width: 400px) {
    .row-pay {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
    .register{
      position: absolute;
      right: 260px;
    }
    
  
  }
  .pay-head{
    font-family: "Cairo", sans-serif;
    color: rgb(97, 76, 64);
   text-align: center;
   font-weight: 400;
   font-size: 30px;
  }
  .pay-head::after{
    content: "";
    background-color: #bd946d;
    display: block;
    height: 3px;
  width: 170px;
  margin: 20px auto 5px;
 margin-bottom: 15px;
  }
 
  .pay-div{
    direction: rtl;   display: flex; padding-right:15px; justify-content: center;
  }
      /*end cart style* /
      /*animation*/
     