@font-face {
    font-family: cairo;
    src: url(../fonts/Cairo-VariableFont_slnt\,wght.ttf);

}
body{
    font-family: cairo;
    background-color:#fcf7f1 ;
    

}
.navbar-nav {
    padding-left: 220px;
    
}
.head-img-1{
   margin: auto;
}
.welcoming{
    margin: auto;
}

.nav-link{
    color: #5c4a3e;
     font-weight: 500;
}
.container-fluid{
    background-color:#ebddd2 ;
    
}
.bg-beige{
    background-color:#fcf7f1 ;
}
.navbar-brand{
    padding-left: 400px;
}
.head-img{
    display: block;
  margin-left: auto;
  margin-right: auto;
}

header{
    background-color:#fcf7f1;
 
    
}
.carousel-item{
    height: 70vh;
    
    
}
.register{
    margin-left: 70px;
    background-color: #DCA47F;
	border-radius: 30px;
	text-decoration: none;
	padding: 5px 10px;
	color: white;
	display: inline-block;
    padding-left: 50px;
    padding-right:50px ;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.register:hover{
    background-color:#ddb295;
    transition: 0.5s;
}


.login{
    background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
    animation:animationForm 0.25s;
    transition: 0.25 ease-in-out;
}
@keyframes  animationForm{
from{
    transform: scale(0);
}
to{
    transform: scale(1);
}
}
.login-contents{
    height: 650px;
	width: 500px;
	background-color:white;
	text-align: center;
	padding: 60px;
	position: relative;
	border-radius: 4px;
}
input {
	margin: 15px auto;
	display: block;
	width: 50%;
	padding: 8px;
	border: 2px solid gray;
    display: inline-block;
    border-radius: 10px;
    
}
.Submit-button{
    margin: 15px auto;
	display: block;
	width: 50%;
	padding: 8px;
	border: 2px solid gray;
    display: inline-block;
    border-radius: 20px;
    background-color: #eee7dd;
}
.Submit-button:hover{
    background-color:#ddb295;
      transition: 0.5s;
}
.signup-button{
    margin: 15px auto;
	display: block;
	width: 50%;
	padding: 8px;
	border: 2px solid gray;
    display: inline-block;
    border-radius: 20px;
    background-color: #eee7dd;
}
.signup-button:hover{
    background-color:#ddb295;
      transition: 0.5s;
}
.signup{
    background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
}
.signup-contents{
    height: 650px;
	width: 500px;
	background-color:white;
	text-align: center;
	padding: 60px;
	position: relative;
	border-radius: 4px;
}
input {
	margin: 15px auto;
	display: block;
	width: 50%;
	padding: 8px;
	border: 2px solid gray;
    display: inline-block;
    border-radius: 10px;
    
}
.close-login {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
	
}
.newSignup-button{
    margin: 15px auto;
	display: block;
	width: 50%;
	padding: 8px;
	border: 2px solid gray;
    display: inline-block;
    border-radius: 20px;
    background-color: #eee7dd;
}
.newSignup-button:hover{
    background-color:#ddb295;
      transition: 0.5s;
}
.close-signup {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
	
}
/*end login section*/


/*start best sellers section style  */

.best-sellers-heading{
    text-align: center;
    color :#5c4a3e;
}
section.best-sellers{
    background-color:#ebddd2;
  
}

section.best-sellers .nav-link{
    border: 2px solid  #5c4a3e;
    color :#5c4a3e;
  
 }
section.best-sellers .nav-link:hover{
   border: 1px solid  #ddb295;
}
section.best-sellers .nav-link.active{
   background-color: #ddb295;
   color: #5c4a3e;
   border: 2px solid  #ddb295;
 }
 .row{
    text-align: center;
 }

.best-sel{
    width: 260px;
    height: 260px;
    border-radius: 20px;
  margin-top: 20px;
 margin-right: 10px;
  
 }
 
 .best a img:hover {
    opacity: 0.3;
    transition-duration: 0.5s;
  }
  .nav-link:hover,.nav-link.active{
    background-color:#ddb295;
      transition: 0.5s;
      border-radius: 10px;
  }

/*end best sellers section style  */

/*start footer style*/
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
footer .row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #92725d;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:80px;
	bottom: -10px;
	background-color: #5c4a3e;
	height: 2px;
	box-sizing: border-box;
	width: 100px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #ffffff;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.about-us{
    color: #ffffff;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #5c4a3e;
	background-color: #cfc8b6;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
/*end footer style*/
/* end index page style*/

/*start product page style*/
.product-image{
	width: 200px;
	height: 200px;
    border-radius: 8px;
    
    
}
.cart-color{
    background-color: #ebddd2;
    color: #5c4a3e;
}
.card h5{
    padding-top: 5px;
    font-weight:500;
    color: #5c4a3e;
}
.card p{
    color: #5c4a3e;
}
.button {
    padding-top:1px;
    margin-left: 56px;
    width: 70%;
    border-radius: 8px;
   justify-content: center;
   background-color: #ebddd2;
   color: #5c4a3e;
  
}

.button:hover{
    background-color:#bd9173;
      transition: 0.5s;

}
.product-image {
    transition: transform .2s; 
    
    margin: 0 auto;
  }
  
  .product-image:hover {
    transform: scale(1.5); 
  }
  .blog-sidebar-list{
    cursor: pointer;
  }
/*end product page style*/
/*meadoa querry*/
@media only screen and (max-width: 400px) {
    section.best-sellers .nav-link{
        padding: 4.5px;
      margin-top: 10px;
    }
   .head-img-1{
padding-left:20px;


   }
   .welcoming{
    padding-left: 20px; color:#5c4a3e; font-weight:500; font: size 20px;
}
.head-img-2{
    height: 100%;
}.prod-list{
    display:table-row-group;
  
}
.prod-it{
    display:table-footer-group;
 
}


.prod-media{
    display: block;
    padding-left: 8px;
   
  }
  .footer-col h4::before{
	
	left:130px;

}}
    
